
  <div id="main-wrapper">

    <app-header></app-header>

    <app-nav></app-nav>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">รายงานสรุป</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Apps</li>
                        <li class="breadcrumb-item active">รายงานสรุป</li>
                    </ol>
                </div>
                <div class="">
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Stats box -->
            <!-- ============================================================== -->

            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Customer all</h6>
                                    <h2 class="m-t-0">{{count_customer.count_customer}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Customer buy package</h6>
                                    <h2 class="m-t-0">{{count_customer.count_customer_buy_package}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Customer free</h6>
                                    <h2 class="m-t-0">{{count_customer.count_customer_free}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Customer <span class="badge badge-success">new</span></h6>
                                    <h2 class="m-t-0">{{count_customer.count_customer_new}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-2  col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project</h6>
                                    <h2 class="m-t-0">{{count_package.count_project}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project S</h6>
                                    <h2 class="m-t-0">{{this.count_package.count_project_by_package_s}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project M</h6>
                                    <h2 class="m-t-0">{{this.count_package.count_project_by_package_m}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project L</h6>
                                    <h2 class="m-t-0">{{this.count_package.count_project_by_package_l}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project PRO</h6>
                                    <h2 class="m-t-0">{{this.count_package.count_project_by_package_pro}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center mr--1">
                                    <h6 class="text-muted m-t-10 m-b-0">Project Free</h6>
                                    <h2 class="m-t-0">{{this.count_package.count_project_free}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Task</h6>
                                    <h2 class="m-t-0">{{this.count_task.count_task}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Task <span class="badge badge-success">Success</span> </h6>
                                    <h2 class="m-t-0">{{this.count_task.count_task_40}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Task <span class="badge badge-info">Processing</span> </h6>
                                    <h2 class="m-t-0">{{this.count_task.count_task_20}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0">Task <span class="badge badge-danger">Error</span> </h6>
                                    <h2 class="m-t-0">{{this.count_task.count_task_30}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6  col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0"><span class="badge badge-success">Deposit</span></h6>
                                    <h2 class="m-t-0">{{this.sum_usage.sum_deposit}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                                <div class="align-self-center">
                                    <h6 class="text-muted m-t-10 m-b-0"><span class="badge badge-danger">Withdraw</span></h6>
                                    <h2 class="m-t-0">{{this.sum_usage.sum_withdraw}}</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Sales overview chart -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                                </div>
                                <div class="ml-auto">
                                    <input [(ngModel)]="sales_overview_in_month" class="form-control" type="month" id="start" name="start"
                                    min="2022-01" (change)="get_sales_overview()">
                                    <!-- <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select> -->
                                </div>
                            </div>
                            <div echarts [options]="chart_sales_overview" style="height:360px;"></div>

                            <!-- <div id="sales-overview2" class="p-relative" style="height:360px;"></div> -->
                            <div class="stats-bar">
                                <div class="row text-center">
                                    <div *ngFor="let item of sales_overview"
                                    class="col-lg-3 col-md-3">
                                        <div class="p-16">
                                            <h6 class="m-b-0">Size {{item.size_item}}</h6>
                                            <h3 class="m-b-0">฿{{item.sum_month}}</h3>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total</h6>
                                            <h3 class="m-b-0">฿{{sales_overview.sum_all}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Month</h6>
                                            <h3 class="m-b-0">฿{{sales_overview.sum_month}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">This Week</h6>
                                            <h3 class="m-b-0">฿{{sales_overview.sum_week}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Task Processing Time</h3>
                                </div>
                                <div class="ml-auto">
                                    <input type="date" name="" id="" class="form-control" min="2023-01-01" [(ngModel)]="task_process_time_in_date" (change)="get_task_process_time()">
                                    <!-- <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select> -->
                                </div>
                            </div>
                            <div echarts [options]="chart_task_process_time" style="height:360px;"></div>

                            <!-- <div id="ct-sales3-chart" class="p-relative" style="height:360px;"></div> -->
                            <div class="stats-bar">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total Task</h6>
                                            <h3 class="m-b-0">{{task_process_time_detail.sum_count}} task</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total usage</h6>
                                            <h3 class="m-b-0">{{task_process_time_detail.sum_process}} pic</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">AVG</h6>
                                            <h3 class="m-b-0">
                                                <ng-container *ngIf="isNumber(task_process_time_detail.sum_process_avg);else else_avg_nan1">0</ng-container>
                                                <ng-template #else_avg_nan1>{{task_process_time_detail.sum_process_avg}} pic/task</ng-template>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Task Processing Date</h3>
                                </div>
                                <div class="ml-auto">
                                    <input type="date" name="" id="" class="form-control" min="2023-01-01" 
                                    [(ngModel)]="task_process_date_in_date" (change)="get_task_process_time()">
                                    <!-- <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select> -->
                                </div>
                            </div>
                            <div echarts [options]="chart_task_process_date" style="height:360px;"></div>

                            <!-- <div id="ct-sales3-chart" class="p-relative" style="height:360px;"></div> -->
                            <div class="stats-bar">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total Task</h6>
                                            <h3 class="m-b-0">{{task_process_time_detail.sum_count}} task</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">Total usage</h6>
                                            <h3 class="m-b-0">{{task_process_time_detail.sum_process}} pic</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="p-20">
                                            <h6 class="m-b-0">AVG</h6>
                                            <h3 class="m-b-0">
                                                <ng-container *ngIf="isNumber(task_process_time_detail.sum_process_avg);else else_avg_nan1">0</ng-container>
                                                <ng-template #else_avg_nan1>{{task_process_time_detail.sum_process_avg}} pic/task</ng-template>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" hidden>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h3 class="card-title m-b-5"><span class="lstick"></span>Total Visits </h3>
                                </div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select>
                                </div>
                            </div>
                            <div id="visitfromworld" style="width:100%!important; height:415px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><span class="lstick"></span>Browser Stats</h4>
                            <table class="table browser m-t-30 no-border">
                                <tbody>
                                    <tr>
                                        <td style="width:40px"><img src="../assets/images/browser/chrome-logo.png" alt=logo /></td>
                                        <td>Google Chrome</td>
                                        <td class="text-right">23%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/firefox-logo.png" alt=logo /></td>
                                        <td>Mozila Firefox</td>
                                        <td class="text-right">15%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/safari-logo.png" alt=logo /></td>
                                        <td>Apple Safari</td>
                                        <td class="text-right">07%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/internet-logo.png" alt=logo /></td>
                                        <td>Internet Explorer</td>
                                        <td class="text-right">09%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/opera-logo.png" alt=logo /></td>
                                        <td>Opera mini</td>
                                        <td class="text-right">23%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/edge-logo.png" alt=logo /></td>
                                        <td>Microsoft edge</td>
                                        <td class="text-right">09%</td>
                                    </tr>
                                    <tr>
                                        <td><img src="../assets/images/browser/netscape-logo.png" alt=logo /></td>
                                        <td>Netscape Navigator</td>
                                        <td class="text-right">04%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Projects of the month -->
            <!-- ============================================================== -->
            <div class="row" hidden>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h4 class="card-title"><span class="lstick"></span>Projects of the Month</h4></div>
                                <div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January 2017</option>
                                        <option value="1">February 2017</option>
                                        <option value="2">March 2017</option>
                                        <option value="3">April 2017</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive m-t-20">
                                <table class="table vm no-th-brd pro-of-month no-wrap">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Assigned</th>
                                            <th>Name</th>
                                            <th>Priority</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:50px;"><span class="round"><img src="../assets/images/users/1.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-success label-rounded">Low</span></td>
                                        </tr>
                                        <tr class="active">
                                            <td><span class="round"><img src="../assets/images/users/2.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Andrew</h6><small class="text-muted">Project Manager</small></td>
                                            <td>Real Homes</td>
                                            <td><span class="label label-info label-rounded">Medium</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-success"><img src="../assets/images/users/3.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Bhavesh patel</h6><small class="text-muted">Developer</small></td>
                                            <td>MedicalPro Theme</td>
                                            <td><span class="label label-primary label-rounded">High</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-primary"><img src="../assets/images/users/4.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-danger label-rounded">Low</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-warning"><img src="../assets/images/users/5.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Micheal Doe</h6><small class="text-muted">Content Writer</small></td>
                                            <td>Helping Hands</td>
                                            <td><span class="label label-success label-rounded">High</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-danger"><img src="../assets/images/users/6.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Johnathan</h6><small class="text-muted">Graphic</small></td>
                                            <td>Digital Agency</td>
                                            <td><span class="label label-info label-rounded">High</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="round round-primary"><img src="../assets/images/users/4.jpg" alt="user" width="50"></span></td>
                                            <td>
                                                <h6>Nirav Joshi</h6><small class="text-muted">Frontend Eng</small></td>
                                            <td>Elite Admin</td>
                                            <td><span class="label label-danger label-rounded">Low</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Activity widget find scss into widget folder-->
                <!-- ============================================================== -->
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <h4 class="card-title"><span class="lstick"></span>Activity</h4>
                                <!-- <span class="badge badge-success">9</span> -->
                                <div class="btn-group ml-auto m-t-10">
                                    <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity-box">
                            <div class="card-body">
                                <!-- Activity item-->
                                <div class="activity-item">
                                    <div class="round m-r-20"><img src="../assets/images/users/2.jpg" alt="user" width="50" /></div>
                                    <div class="m-t-10">
                                        <h5 class="m-b-0 font-medium">Mark Freeman <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                        <h6 class="text-muted">uploaded this file </h6>
                                        <table class="table vm b-0 m-b-0">
                                            <tr>
                                                <td class="m-r-10 b-0"><img src="../assets/images/icon/zip.png" alt="user" /></td>
                                                <td class="b-0">
                                                    <h5 class="m-b-0 font-medium ">Homepage.zip</h5>
                                                    <h6>54 MB</h6></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Activity item-->
                                <!-- Activity item-->
                                <div class="activity-item">
                                    <div class="round m-r-20"><img src="../assets/images/users/3.jpg" alt="user" width="50" /></div>
                                    <div class="m-t-10">
                                        <h5 class="m-b-5 font-medium">Emma Smith <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                        <h6 class="text-muted">joined projectname, and invited <a href="javascript:void(0)">@maxcage, @maxcage, @maxcage, @maxcage, @maxcage,+3</a></h6>
                                        <span class="image-list m-t-20">
                                            <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" class="img-circle" alt="user" width="50"></a>
                                            <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" class="img-circle" alt="user" width="50"></a>
                                            <a href="javascript:void(0)"><span class="round round-warning">C</span></a>
                                        <a href="javascript:void(0)"><span class="round round-danger">D</span></a>
                                        <a href="javascript:void(0)">+3</a>
                                        </span>
                                    </div>
                                </div>
                                <!-- Activity item-->
                                <!-- Activity item-->
                                <div class="activity-item">
                                    <div class="round m-r-20"><img src="../assets/images/users/4.jpg" alt="user" width="50" /></div>
                                    <div class="m-t-10">
                                        <h5 class="m-b-0 font-medium">David R. Jones  <span class="text-muted font-14 m-l-10">| &nbsp; 9:30 PM, July 13th</span></h5>
                                        <h6 class="text-muted">uploaded this file </h6>
                                        <span>
                                            <a href="javascript:void(0)" class="m-r-10"><img src="../assets/images/big/img1.jpg" alt="user" width="60"></a>
                                            <a href="javascript:void(0)" class="m-r-10"><img src="../assets/images/big/img2.jpg" alt="user" width="60"></a>
                                        </span>
                                    </div>
                                </div>
                                <!-- Activity item-->
                                <!-- Activity item-->
                                <div class="activity-item">
                                    <div class="round m-r-20"><img src="../assets/images/users/6.jpg" alt="user" width="50" /></div>
                                    <div class="m-t-10">
                                        <h5 class="m-b-5 font-medium">David R. Jones <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                        <h6 class="text-muted">Commented on<a href="javascript:void(0)">Test Project</a></h6>
                                        <p class="m-b-0">It has survived not only five centuries, but also the leap into electrotypesetting, remaining essentially unchanged.</p>
                                    </div>
                                </div>
                                <!-- Activity item-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right panel -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2022 Admin Dronebox by MAPEDIA </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
  
  
