<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header></app-header>

    <app-nav></app-nav>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ตาราง Package</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">pages</li>
                        <li class="breadcrumb-item active">ตาราง Package</li>
                    </ol>
                </div>
                <div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title">ตาราง Package </h4>
                                    <h6 class="card-subtitle">ตารางแสดงราคาปัจจุบันหน้า landind page <code>หน้านี้จะทำเป็นหน้าปรับราคาหน้าเว็บ</code></h6>
                                </div>
                                <div class="col-4" style="text-align: right;">
                                    <button class="btn btn-info" style="width: 20vh;"
                                    data-toggle="modal" data-target="#add_package_modal" data-whatever="@mdo"
                                    (click)="clear_package_data();">
                                        New package
                                    </button>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ชื่อ</th>
                                            <th>ชื่อ(EN)</th>
                                            <th>ราคา</th>
                                            <th>จำนวนภาพ</th>
                                            <!-- <th>Description</th> -->
                                            <th>แก้ไข Package</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list_package; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.name_item}} <ng-container *ngIf="item.size_item!=''">Size {{item.size_item}}</ng-container></td>
                                            <td>{{item.name_item_en}} <ng-container *ngIf="item.size_item!=''">Size {{item.size_item}}</ng-container></td>
                                            <td>{{item.item_price}}</td>
                                            <td>{{item.num_pic}}</td>
                                            <!-- <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                (click)="get_package_desc(item)"
                                                data-target="#edit_package_desc_modal" data-whatever="@mdo">
                                                    <i class="mdi mdi-table-edit"></i>
                                                </button>
                                            </td> -->
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                (click)="edit_package(item);get_package_desc(item)"
                                                data-target="#edit_package_modal" data-whatever="@mdo">
                                                    <i class="mdi mdi-table-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                (click)="delete_package(item);">
                                                    <i class="mdi mdi-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td 
                                            colspan="6" style="text-align: center;">
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sample modal content -->
            <div class="modal fade" id="add_package_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="edit_package_modalLabel1">เพิ่ม Package</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">ชื่อ:</label>
                                    <input type="text" class="form-control" name="package_name"
                                    id="package_name" [(ngModel)]="package_name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">ชื่อ(EN):</label>
                                    <input type="text" class="form-control" name="package_name_en"
                                    id="package_name_en" [(ngModel)]="package_name_en">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">size:</label>
                                    <input type="text" class="form-control" name="package_size"
                                    id="package_size" [(ngModel)]="package_size">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">ราคา:</label>
                                    <input type="number" class="form-control" name="package_price"
                                    id="package_price" [(ngModel)]="package_price">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">จำนวนภาพ:</label>
                                    <input type="number" class="form-control" name="package_pic"
                                    id="package_pic" [(ngModel)]="package_pic">
                                </div>
                            </form>
                            <div class="form-group has-danger">
                                <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div>
                        </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                            <button type="button" class="btn btn-warning" (click)="add_package()">เพิ่ม</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit_package_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                <div class="modal-dialog" role="document" style="min-width: 60%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="edit_package_modalLabel1">แก้ไข Package</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active text-dark" data-toggle="tab" 
                                    href="#package_info">Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" data-toggle="tab" 
                                    href="#package_desc">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="package_info" 
                                role="tabpanel">
                                    <form class="pt-2">
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label">ชื่อ:</label>
                                            <input type="text" class="form-control" name="package_name"
                                            id="package_name" [(ngModel)]="package_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label">ชื่อ(EN):</label>
                                            <input type="text" class="form-control" name="package_name_en"
                                            id="package_name_en" [(ngModel)]="package_name_en">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label">size:</label>
                                            <input type="text" class="form-control" name="package_size"
                                            id="package_size" [(ngModel)]="package_size">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">ราคา:</label>
                                            <input type="number" class="form-control" name="package_price"
                                            id="package_price" [(ngModel)]="package_price">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="control-label">จำนวนภาพ:</label>
                                            <input type="number" class="form-control" name="package_pic"
                                            id="package_pic" [(ngModel)]="package_pic">
                                        </div>
                                    </form>
                                    <div class="form-group has-danger">
                                        <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div>
                                    </div>
                                    <div style="display: flex; align-items: center;
                                    justify-content: flex-end; padding: 15px; border-top: 1px solid #e9ecef;">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                        <button type="button" class="btn btn-warning" (click)="save_edit_package()">แก้ไข</button>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane fade" id="package_desc" 
                                role="tabpanel">
                                    <form class="pt-2">
                                        <div class="table-responsive">
                                            <table class="table color-table info-table"
                                            style="table-layout:fixed;">
                                                <thead>
                                                    <tr style="width: 100%;">
                                                        <th style="width: 10%;">#</th>
                                                        <th style="width: 35%;">Description (th)</th>
                                                        <th style="width: 35%;">Description (en)</th>
                                                        <th style="width: 20%;">action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of list_package_desc; let i=index">
                                                        <ng-container *ngIf="item.edit_package_desc==false">
                                                            <td>{{i+1}}</td>
                                                            <td>
                                                                <div style="word-wrap: break-word">
                                                                    {{item.package_desc}}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div style="word-wrap: break-word">
                                                                    {{item.package_desc_en}}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info"
                                                                (click)="get_update_package_desc(item);item.edit_package_desc=true">
                                                                    <i class="mdi mdi-table-edit"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-danger"
                                                                (click)="delete_package_desc(item);">
                                                                    <i class="mdi mdi-delete"></i>
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.edit_package_desc==true">
                                                            <td>{{i+1}}</td>
                                                            <td >
                                                                <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                [(ngModel)]="package_desc_description">
                                                                    
                                                                </textarea>
                                                            </td>
                                                            <td >
                                                                <textarea name="package_desc_description_en" id="package_desc_description_en" cols="30" rows="3"
                                                                [(ngModel)]="package_desc_description_en">
                                                                    
                                                                </textarea>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                (click)="item.edit_package_desc=false;update_package_desc();">
                                                                    <i class="mdi mdi-content-save"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-info" 
                                                                (click)="item.edit_package_desc=false;">
                                                                    <i class="mdi mdi-close"></i>
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                    </tr>
                                                    <tr>
                                                        <ng-container *ngIf="package_desc_status==true">
                                                            <td colspan="2">
                                                                <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                [(ngModel)]="package_desc_description">
                                                                    
                                                                </textarea>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                (click)="package_desc_status=false;add_package_desc()">
                                                                    <i class="mdi mdi-content-save"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-info" 
                                                                (click)="package_desc_status=false;">
                                                                    <i class="mdi mdi-close"></i>
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                        <td *ngIf="package_desc_status==false"
                                                        colspan="3" style="text-align: center;">
                                                            <button class="btn btn-info" (click)="package_desc_status=true">
                                                                <!-- <i class="mdi mdi-plus"></i> -->
                                                                New description
                                                            </button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit_package_desc_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="edit_package_modalLabel1">Package Description</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            
                            <form>
                                <div class="table-responsive">
                                    <table class="table color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Description</th>
                                                <th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of list_package_desc; let i=index">
                                                <ng-container *ngIf="item.edit_package_desc==false">
                                                    <td>{{i+1}}</td>
                                                    <td>{{item.package_desc}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-info"
                                                        (click)="get_update_package_desc(item);item.edit_package_desc=true">
                                                            <i class="mdi mdi-table-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-danger"
                                                        (click)="delete_package_desc(item);">
                                                            <i class="mdi mdi-delete"></i>
                                                        </button>
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="item.edit_package_desc==true">
                                                    <!-- <td>{{i+1}}</td> -->
                                                    <td colspan="2">
                                                        <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                        [(ngModel)]="package_desc_description">
                                                            
                                                        </textarea>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-info" data-toggle="modal" 
                                                        (click)="item.edit_package_desc=true;update_package_desc();">
                                                            <i class="mdi mdi-content-save"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-info" 
                                                        (click)="item.edit_package_desc=true;">
                                                            <i class="mdi mdi-close"></i>
                                                        </button>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                            <tr>
                                                <ng-container *ngIf="package_desc_status==true">
                                                    <td colspan="2">
                                                        <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                        [(ngModel)]="package_desc_description">
                                                            
                                                        </textarea>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-info" data-toggle="modal" 
                                                        (click)="package_desc_status=false;add_package_desc()">
                                                            <i class="mdi mdi-content-save"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-info" 
                                                        (click)="package_desc_status=false;">
                                                            <i class="mdi mdi-close"></i>
                                                        </button>
                                                    </td>
                                                </ng-container>
                                                <td *ngIf="package_desc_status==false"
                                                colspan="3" style="text-align: center;">
                                                    <button class="btn btn-info" (click)="package_desc_status=true">
                                                        <i class="mdi mdi-plus"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="form-group has-danger">
                            <!-- <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                            <!-- <button type="button" class="btn btn-warning" (click)="save_edit_package()">แก้ไข</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            
            
            <!-- row -->
            
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2022 Admin Dronebox by MAPEDIA
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>