<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header></app-header>

    <app-nav></app-nav>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ตาราง Package</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">pages</li>
                        <li class="breadcrumb-item active">ตาราง Package</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ตาราง Package </h4>
                            <h6 class="card-subtitle">ตารางแสดงราคาปัจจุบันหน้า landind page <code>หน้านี้จะทำเป็นหน้าปรับราคาหน้าเว็บ</code></h6>
                            <div class="table-responsive">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ชื่อ</th>
                                            <th>ชื่อ(EN)</th>
                                            <th>ราคา</th>
                                            <th>จำนวนภาพ</th>
                                            <!-- <th>Description</th> -->
                                            <th>แก้ไข Package</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of list_package; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.name_item}} <ng-container *ngIf="item.size_item!=''">Size {{item.size_item}}</ng-container></td>
                                            <td>{{item.name_item_en}} <ng-container *ngIf="item.size_item!=''">Size {{item.size_item}}</ng-container></td>
                                            <td>{{item.item_price}}</td>
                                            <td>{{item.num_pic}}</td>
                                            <!-- <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                (click)="get_package_desc(item)"
                                                data-target="#edit_package_desc_modal" data-whatever="@mdo">
                                                    <i class="mdi mdi-table-edit"></i>
                                                </button>
                                            </td> -->
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal" 
                                                (click)="edit_package(item);get_package_desc(item)"
                                                data-target="#edit_package_modal" data-whatever="@mdo">
                                                    <i class="mdi mdi-table-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                (click)="delete_package(item);">
                                                    <i class="mdi mdi-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td 
                                            colspan="6" style="text-align: center;">
                                                <button class="btn btn-info" style="width: 20vh;"
                                                data-toggle="modal" data-target="#add_package_modal" data-whatever="@mdo"
                                                (click)="clear_package_data();">
                                                    <!-- <i class="mdi mdi-plus"></i> -->
                                                    New package
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" hidden>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Success Table</h4>
                            <h6 class="card-subtitle">Add class <code>ตารางแสดงราคาปัจจุบันหน้า landind page</code></h6>
                            <div class="table-responsive">
                                <table class="table color-table success-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Nigam</td>
                                            <td>Eichmann</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Deshmukh</td>
                                            <td>Prohaska</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Roshan</td>
                                            <td>Rogahn</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <!-- sample modal content -->
                        <div class="modal fade" id="add_package_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit_package_modalLabel1">เพิ่ม Package</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">ชื่อ:</label>
                                                <input type="text" class="form-control" name="package_name"
                                                id="package_name" [(ngModel)]="package_name">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">ชื่อ(EN):</label>
                                                <input type="text" class="form-control" name="package_name_en"
                                                id="package_name_en" [(ngModel)]="package_name_en">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">size:</label>
                                                <input type="text" class="form-control" name="package_size"
                                                id="package_size" [(ngModel)]="package_size">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">ราคา:</label>
                                                <input type="number" class="form-control" name="package_price"
                                                id="package_price" [(ngModel)]="package_price">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">จำนวนภาพ:</label>
                                                <input type="number" class="form-control" name="package_pic"
                                                id="package_pic" [(ngModel)]="package_pic">
                                            </div>
                                        </form>
                                        <div class="form-group has-danger">
                                            <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div>
                                    </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                        <button type="button" class="btn btn-warning" (click)="add_package()">เพิ่ม</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="edit_package_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit_package_modalLabel1">แก้ไข Package</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                              <a class="nav-link active text-dark" data-toggle="tab" 
                                              href="#package_info">Information</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" data-toggle="tab" 
                                                href="#package_desc">Description</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="package_info" 
                                            role="tabpanel">
                                                <form class="pt-2">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">ชื่อ:</label>
                                                        <input type="text" class="form-control" name="package_name"
                                                        id="package_name" [(ngModel)]="package_name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">ชื่อ(EN):</label>
                                                        <input type="text" class="form-control" name="package_name_en"
                                                        id="package_name_en" [(ngModel)]="package_name_en">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">size:</label>
                                                        <input type="text" class="form-control" name="package_size"
                                                        id="package_size" [(ngModel)]="package_size">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="control-label">ราคา:</label>
                                                        <input type="number" class="form-control" name="package_price"
                                                        id="package_price" [(ngModel)]="package_price">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="control-label">จำนวนภาพ:</label>
                                                        <input type="number" class="form-control" name="package_pic"
                                                        id="package_pic" [(ngModel)]="package_pic">
                                                    </div>
                                                </form>
                                                <div class="form-group has-danger">
                                                    <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div>
                                                </div>
                                                <div style="display: flex; align-items: center;
                                                justify-content: flex-end; padding: 15px; border-top: 1px solid #e9ecef;">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                                    <button type="button" class="btn btn-warning" (click)="save_edit_package()">แก้ไข</button>
                                                </div>
                                                
                                            </div>
                                            <div class="tab-pane fade" id="package_desc" 
                                            role="tabpanel">
                                                <form class="pt-2">
                                                    <div class="table-responsive">
                                                        <table class="table color-table info-table"
                                                        style="table-layout:fixed;">
                                                            <thead>
                                                                <tr style="width: 100%;">
                                                                    <th style="width: 10%;">#</th>
                                                                    <th style="width: 65%;">Description</th>
                                                                    <th style="width: 25%;">action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of list_package_desc; let i=index">
                                                                    <ng-container *ngIf="item.edit_package_desc==false">
                                                                        <td>{{i+1}}</td>
                                                                        <td>
                                                                            <div style="word-wrap: break-word">
                                                                                {{item.package_desc}}
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-info"
                                                                            (click)="get_update_package_desc(item);item.edit_package_desc=true">
                                                                                <i class="mdi mdi-table-edit"></i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger"
                                                                            (click)="delete_package_desc(item);">
                                                                                <i class="mdi mdi-delete"></i>
                                                                            </button>
                                                                        </td>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="item.edit_package_desc==true">
                                                                        <!-- <td>{{i+1}}</td> -->
                                                                        <td colspan="2">
                                                                            <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                            [(ngModel)]="package_desc_description">
                                                                                
                                                                            </textarea>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                            (click)="item.edit_package_desc=false;update_package_desc();">
                                                                                <i class="mdi mdi-content-save"></i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-info" 
                                                                            (click)="item.edit_package_desc=false;">
                                                                                <i class="mdi mdi-close"></i>
                                                                            </button>
                                                                        </td>
                                                                    </ng-container>
                                                                </tr>
                                                                <tr>
                                                                    <ng-container *ngIf="package_desc_status==true">
                                                                        <td colspan="2">
                                                                            <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                            [(ngModel)]="package_desc_description">
                                                                                
                                                                            </textarea>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                            (click)="package_desc_status=false;add_package_desc()">
                                                                                <i class="mdi mdi-content-save"></i>
                                                                            </button>
                                                                            <button type="button" class="btn btn-info" 
                                                                            (click)="package_desc_status=false;">
                                                                                <i class="mdi mdi-close"></i>
                                                                            </button>
                                                                        </td>
                                                                    </ng-container>
                                                                    <td *ngIf="package_desc_status==false"
                                                                    colspan="3" style="text-align: center;">
                                                                        <button class="btn btn-info" (click)="package_desc_status=true">
                                                                            <!-- <i class="mdi mdi-plus"></i> -->
                                                                            New description
                                                                        </button>
                                                                    </td>
        
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="edit_package_desc_modal" tabindex="-1" role="dialog" aria-labelledby="edit_package_modalLabel1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit_package_modalLabel1">Package Description</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        <form>
                                            <div class="table-responsive">
                                                <table class="table color-table info-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Description</th>
                                                            <th>action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of list_package_desc; let i=index">
                                                            <ng-container *ngIf="item.edit_package_desc==false">
                                                                <td>{{i+1}}</td>
                                                                <td>{{item.package_desc}}</td>
                                                                <td>
                                                                    <button type="button" class="btn btn-info"
                                                                    (click)="get_update_package_desc(item);item.edit_package_desc=true">
                                                                        <i class="mdi mdi-table-edit"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger"
                                                                    (click)="delete_package_desc(item);">
                                                                        <i class="mdi mdi-delete"></i>
                                                                    </button>
                                                                </td>
                                                            </ng-container>
                                                            <ng-container *ngIf="item.edit_package_desc==true">
                                                                <!-- <td>{{i+1}}</td> -->
                                                                <td colspan="2">
                                                                    <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                    [(ngModel)]="package_desc_description">
                                                                        
                                                                    </textarea>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                    (click)="item.edit_package_desc=true;update_package_desc();">
                                                                        <i class="mdi mdi-content-save"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-info" 
                                                                    (click)="item.edit_package_desc=true;">
                                                                        <i class="mdi mdi-close"></i>
                                                                    </button>
                                                                </td>
                                                            </ng-container>
                                                        </tr>
                                                        <tr>
                                                            <ng-container *ngIf="package_desc_status==true">
                                                                <td colspan="2">
                                                                    <textarea name="package_desc_description" id="package_desc_description" cols="30" rows="3"
                                                                    [(ngModel)]="package_desc_description">
                                                                        
                                                                    </textarea>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-info" data-toggle="modal" 
                                                                    (click)="package_desc_status=false;add_package_desc()">
                                                                        <i class="mdi mdi-content-save"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-info" 
                                                                    (click)="package_desc_status=false;">
                                                                        <i class="mdi mdi-close"></i>
                                                                    </button>
                                                                </td>
                                                            </ng-container>
                                                            <td *ngIf="package_desc_status==false"
                                                            colspan="3" style="text-align: center;">
                                                                <button class="btn btn-info" (click)="package_desc_status=true">
                                                                    <i class="mdi mdi-plus"></i>
                                                                </button>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group has-danger">
                                        <!-- <div class="form-control-feedback">***การแก้ไขราคาจะเป็นการปรับราคาแพกเพจหน้าเว็บรวมถึงการเรียกชำระเงินลูกค้า</div> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                        <!-- <button type="button" class="btn btn-warning" (click)="save_edit_package()">แก้ไข</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            
            <!-- row -->
            
            <!-- row -->
            
            <!-- row -->
            
            
            
            <!-- row -->
            
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div class="right-sidebar" hidden>
                <div class="slimscrollright">
                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                    <div class="r-panel-body">
                        <ul id="themecolors" class="m-t-20">
                            <li><b>With Light sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                        </ul>
                        <ul class="m-t-20 chatonline">
                            <li><b>Chat option</b></li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2022 Admin Dronebox
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>