<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
  </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">

    <app-header></app-header>

    <app-nav></app-nav>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Usage</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item active">Usage</li>
                    </ol>
                </div>
                <div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ตารางแสดงการใช้งานลูกค้า </h4>
                                <!-- <span class="label label-warning">รอ join กับ receipt</span>  -->
                            <!-- <h6 class="card-subtitle">100</h6> -->
                            <div style="float: right;">
                                
                                <button class="btn btn-success mr-2" (click)="filter('deposit')">
                                    deposit
                                </button>
                                <button class="btn btn-danger mr-2" (click)="filter('withdraw')">
                                    withdraw
                                </button>
                                <button class="btn btn-primary mr-2" (click)="filter('all')">
                                    all
                                </button>
                            </div>
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>customer_id</th> -->
                                            <th>customer_name</th>
                                            <th>customer_email</th>
                                            <th>project_id</th>
                                            <th>task_id</th>
                                            <th>usage</th>
                                            <th>status</th>
                                            <th>pic</th>
                                            <th>date</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>customer_id</th> -->
                                            <th>customer_name</th>
                                            <th>customer_email</th>
                                            <th>project_id</th>
                                            <th>task_id</th>
                                            <th>usage</th>
                                            <th>status</th>
                                            <th>pic</th>
                                            <th>date</th>
                                        </tr>
                                    </tfoot>
                                    <tbody *ngFor="let item of list_customer_usage_show; let i=index">
                                        <tr>
                                            <td>{{i+1}}</td>
                                            <!-- <td>{{item.customer_id}}</td> -->
                                            <td>{{item.name}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.project_id}}</td> 
                                            <td>{{item.task_id}}</td>
                                            <td>{{item.usage_name}}</td>
                                            <td>
                                                <span [ngClass]="{'label-success': item.usage_status == 'deposit', 
                                                'label-danger' : item.usage_status == 'withdraw' }"
                                                class="label label-success" >{{item.usage_status}}</span>
                                            </td>
                                            <td>{{item.total_pic}}</td>
                                            <td>{{item.date}} {{item.time}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="display: flex; justify-content: space-between; width: 100%;">
                                    <div>
                                        <p>Showing 
                                            <ng-container *ngIf="list_customer_usage.length<base_page; else num_pages">{{list_customer_usage.length}}</ng-container> 
                                            <ng-template #num_pages>{{base_page}}</ng-template> 
                                            of {{list_customer_usage_filter.length}} entries</p>
                                    </div>

                                    <div>
                                        <!-- pre -->
                                        <button (click)="next_page('pre',base_page)" *ngIf="pages-base_page>0; else else_pre"
                                        type="button" class="btn btn-default light">previous</button>
                                        <ng-template #else_pre>
                                            <button disabled
                                            type="button" class="btn btn-default light">previous</button>
                                        </ng-template>

                                        <!-- next -->
                                        <button (click)="next_page('next',base_page)" *ngIf="pages<list_customer_usage.length; else else_next"
                                        type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        <ng-template #else_next>
                                            <button disabled
                                            type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        </ng-template>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div class="right-sidebar">
                <div class="slimscrollright">
                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                    <div class="r-panel-body">
                        <ul id="themecolors" class="m-t-20">
                            <li><b>With Light sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                        </ul>
                        <ul class="m-t-20 chatonline">
                            <li><b>Chat option</b></li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2022 Admin Dronebox by MAPEDIA </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <script src="assets/js/test.js"></script>
