
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>

    <app-nav></app-nav>
    
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ใบกำกับภาษี</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">เอกสาร</li>
                        <li class="breadcrumb-item active">ใบกำกับภาษี</li>
                    </ol>
                </div>
                <div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ตารางแสดงข้อมูลลูกค้า</h4>
                            <h6 class="card-subtitle">ใบกำกับภาษี</h6>
                            <div class="table-responsive m-t-40">
                                <table id="myTable1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px;">ชื่อ</th>
                                            <th style="width: 150px;">นามสกุล</th>
                                            <th>จังหวัด</th>
                                            <th>Package</th>
                                            <th>ราคา</th>
                                            <th>วันที่ชำระ</th>
                                            <th>วันหมดอายุ</th>
                                            <th>สถานะการชำระเงิน</th>
                                            <!-- <th>สถานะการใช้งาน</th> -->
                                            <th>เอกสาร</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>นามสกุล</th>
                                            <th>จังหวัด</th>
                                            <th>Package</th>
                                            <th>ราคา</th>
                                            <th>วันที่ชำระ</th>
                                            <th>วันหมดอายุ</th>
                                            <th>สถานะการชำระเงิน</th>
                                            <!-- <th>สถานะการใช้งาน</th> -->
                                            <th>เอกสาร</th>
                                        </tr>
                                    </tfoot>
                                    <tbody >
                                        <tr *ngFor="let item of list_invoice_show ; let i=index">
                                            <td>{{item.name}}</td>
                                            <td>{{item.last_name}}</td>
                                            <td>{{item.city}}</td>
                                            <td>{{item.name_item_en}} {{item.size_item}}</td>
                                            <td>{{item.price}}</td>
                                            <td>{{item.start_date}}</td>
                                            <td>{{item.end_date}}</td>
                                            <td>
                                                <span [ngClass]="{'label-danger':item.status=='failed','label-success':item.status=='successful'}"
                                                class="label">{{item.status}}</span>
                                            </td>
                                            <!-- <td><span class="label label-danger">หมดอายุ</span></td> -->
                                            <td>
                                                <button (click)="send_invoice(item)"
                                                type="button" class="label btn waves-effect waves-light btn-info" >
                                                    <i class="mdi mdi-file"></i>
                                                </button>
                                                <!-- [routerLink]="['/paper-invoice']" -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="display: flex; justify-content: space-between; width: 100%;">
                                    <div>
                                        <p>Showing 
                                            <ng-container *ngIf="list_invoice.length<10; else num_pages">{{list_invoice.length}}</ng-container> 
                                            <ng-template #num_pages>10</ng-template> 
                                            of {{list_invoice.length}} entries</p>
                                    </div>

                                    <div>
                                        <!-- pre -->
                                        <button (click)="next_page('pre',10)" *ngIf="pages-10>0; else else_pre"
                                        type="button" class="btn btn-default light">previous</button>
                                        <ng-template #else_pre>
                                            <button disabled
                                            type="button" class="btn btn-default light">previous</button>
                                        </ng-template>

                                        <!-- next -->
                                        <button (click)="next_page('next',10)" *ngIf="pages<list_invoice.length; else else_next"
                                        type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        <ng-template #else_next>
                                            <button disabled
                                            type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        </ng-template>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2022 Admin Dronebox by MAPEDIA </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>