<div id="main-wrapper">

    <app-header></app-header>

    <app-nav></app-nav>


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <!-- <h3 class="text-themecolor">ใบกำกับภาษี</h3> -->
                <ol class="breadcrumb" style="float: left;">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">เอกสาร</li>
                    <ng-container  *ngIf="invoice_data; else else_path" >
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/invoice']" style="color:#67757c">ใบกำกับภาษี</a></li>
                    </ng-container>
                    <ng-template #else_path>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/receipt']" style="color:#67757c">ใบเสร็จชำระเงิน</a></li>
                    </ng-template>
                    <li class="breadcrumb-item active">BILLING INVOICE</li>
                </ol>
            </div>
            <!-- <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">เอกสาร</li>
                    <ng-container  *ngIf="invoice_data; else else_path" >
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/invoice']" style="color:#67757c">ใบกำกับภาษี</a></li>
                    </ng-container>
                    <ng-template #else_path>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/receipt']" style="color:#67757c">ใบเสร็จชำระเงิน</a></li>
                    </ng-template>
                    <li class="breadcrumb-item active">BILLING INVOICE</li>
                </ol>
            </div> -->
            <div>
                
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <!-- invoice -->
                <div *ngIf="invoice_data"
                class="card card-body printableArea">
                    <h3><b>BILLING INVOICE</b> <span class="pull-right">#{{invoice_data.name_order}}</span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <!-- <h3> &nbsp;<b class="text-info">Dronebox</b></h3> -->
                                    <img src="../assets/images/Dronebox_Logo_typography.png" class="light-logo" alt="homepage" style="width: 120px;">
                                    <p class="text-muted m-l-5">บริษัท แมพพิเดีย จำกัด
                                        <br/>เลขที่ 99 หมู่ 9 อาคารมหาธรรมราชา
                                        <br/>ตึก B ชั้น 3 ห้อง TB-307-308 มหาวิทยาลัยนเรศวร 
                                        <br/>65000</p>
                                </address>
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h3>To,</h3>
                                    <h4 class="font-bold">{{invoice_data.name}} {{invoice_data.last_name}}</h4>
                                    <p class="text-muted m-l-30">{{invoice_data.address1}}
                                        <ng-container *ngIf="invoice_data.address2!='' || invoice_data.address2!='-'"><br/>{{invoice_data.address2}}</ng-container>
                                        <br/> {{invoice_data.city}}, {{invoice_data.state}}
                                        <br/> {{invoice_data.country}} - {{invoice_data.zip_code}}</p>
                                    <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> {{invoice_data.start_date}}</p>
                                    <p><b>Due Date :</b> <i class="fa fa-calendar"></i> {{invoice_data.end_date}}</p>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Description</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Unit Cost</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>{{invoice_data.name_item_en}} (Size {{invoice_data.size_item}})</td>
                                            <td class="text-right">1 </td>
                                            <td class="text-right">฿{{invoice_data.price*0.93 |number :'1.0-2'}}</td>
                                            <td class="text-right">฿{{invoice_data.price*0.93 |number :'1.0-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                                <p>Sub - Total amount: ฿{{invoice_data.price*0.93 |number :'1.0-2'}}</p>
                                <p>vat (7%) : ${{invoice_data.price*0.07 |number :'1.0-2'}} </p>
                                <hr>
                                <h3><b>Total :</b>  ฿{{invoice_data.price}}</h3>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="text-right">
                                <!-- <button class="btn btn-danger" type="submit"> Proceed to payment </button> -->
                                <button id="print" class="btn btn-default btn-outline" type="submit"> <span><i class="fa fa-print"></i> Print</span> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- receipt -->
                <div *ngIf="receipt_data"
                class="card card-body printableArea">
                    <h3><b>BILLING RECEIPT</b> <span class="pull-right">#{{receipt_data.name_order}}</span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <!-- <h3> &nbsp;<b class="text-info">Dronebox</b></h3> -->
                                    <img src="../assets/images/Dronebox_Logo_typography.png" class="light-logo" alt="homepage" style="width: 120px;">
                                    <p class="text-muted m-l-5">บริษัท แมพพิเดีย จำกัด
                                        <br/>เลขที่ 99 หมู่ 9 อาคารมหาธรรมราชา
                                        <br/>ตึก B ชั้น 3 ห้อง TB-307-308 มหาวิทยาลัยนเรศวร 
                                        <br/>65000</p>
                                </address>
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h3>To,</h3>
                                    <h4 class="font-bold">{{receipt_data.name}} {{receipt_data.last_name}}</h4>
                                    <p class="text-muted m-l-30">{{receipt_data.address1}}
                                        <ng-container *ngIf="receipt_data.address2!='' && receipt_data.address2!='-'"><br/>{{receipt_data.address2}}</ng-container>
                                        <br/> {{receipt_data.city}}, {{receipt_data.state}}
                                        <br/> {{receipt_data.country}} - {{receipt_data.zip_code}}</p>
                                    <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> {{receipt_data.start_date}}</p>
                                    <p><b>Due Date :</b> <i class="fa fa-calendar"></i> {{receipt_data.end_date}}</p>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Description</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Unit Cost</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>{{receipt_data.name_item_en}} (Size {{receipt_data.size_item}})</td>
                                            <td class="text-right">1 </td>
                                            <td class="text-right">฿{{receipt_data.price*0.93 |number :'1.0-2'}}</td>
                                            <td class="text-right">฿{{receipt_data.price*0.93 |number :'1.0-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                                <p>Sub - Total amount: ฿{{receipt_data.price*0.93 |number :'1.0-2'}}</p>
                                <p>vat (7%) : ${{receipt_data.price*0.07 |number :'1.0-2'}} </p>
                                <hr>
                                <h3><b>Total :</b>  ฿{{receipt_data.price}}</h3>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="text-right">
                                <!-- <button class="btn btn-danger" type="submit"> Proceed to payment </button> -->
                                <button id="print" class="btn btn-default btn-outline" type="submit"> <span><i class="fa fa-print"></i> Print</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2022 Admin Dronebox by MAPEDIA
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    </div>
</div>