<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
  </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">

    <app-header></app-header>

    <app-nav></app-nav>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ข้อมูลของลูกค้า</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">pages</li>
                        <li class="breadcrumb-item active">ข้อมูลของลูกค้า</li>
                    </ol>
                </div>
                <div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">ตารางแสดงข้อมูลของลูกค้า </h4>
                                </div>
                                <div class="col-5">
                                    <input class="form-control" type="text" style="width: 100%;" [(ngModel)]="search_text_1">
                                </div>
                                <div class="col-1">
                                    <button (click)="search(1)"
                                    class="btn" style="height: auto;width: 70px;margin-top: -4px;">
                                        <i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display wrap table table-hover table-striped table-bordered" cellspacing="0" style="table-layout: fixed; width: 100%">
                                    <thead>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>นามสกุล</th>
                                            <th>email</th>
                                            <th style="word-wrap: break-word">address</th>
                                            <th>Project</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>นามสกุล</th>
                                            <th>email</th>
                                            <th style="word-wrap: break-word">address</th>
                                            <th>Project</th>
                                        </tr>
                                    </tfoot>
                                    <tbody >
                                        <tr *ngFor="let item of list_customer_show">
                                            <td>{{item.customer_name}}</td>
                                            <td>{{item.customer_last_name}}</td>
                                            <td>{{item.email}}</td>
                                            <td style="word-wrap: break-word">
                                                {{item.address1}} <ng-container *ngIf="item.address2!=''"> {{item.address2}} </ng-container>
                                                {{item.city}} {{item.state}} {{item.country}} {{item.zip_code}}</td>
                                            <td>
                                                <ng-container *ngIf="item.count>0;else else_countproject">{{item.count}}</ng-container>
                                                <ng-template #else_countproject>Free or 0</ng-template>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="display: flex; justify-content: space-between; width: 100%;">
                                    <div>
                                        <p>Showing 
                                            <ng-container *ngIf="list_customer.length<base_page; else num_pages">{{list_customer.length}}</ng-container> 
                                            <ng-template #num_pages>{{base_page}}</ng-template> 
                                            of {{list_customer.length}} entries</p>
                                    </div>
                                    <div>
                                        <!-- pre -->
                                        <button (click)="next_page('customer','pre',base_page)" *ngIf="pages-base_page>0; else else_pre"
                                        type="button" class="btn btn-default light">previous</button>
                                        <ng-template #else_pre>
                                            <button disabled
                                            type="button" class="btn btn-default light">previous</button>
                                        </ng-template>
                                        <!-- next -->
                                        <button (click)="next_page('customer','next',base_page)" *ngIf="pages<list_customer.length; else else_next"
                                        type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        <ng-template #else_next>
                                            <button disabled
                                            type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>

        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ข้อมูลแพคเกจของลูกค้า</h3>
                </div>
                <!-- <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">pages</li>
                        <li class="breadcrumb-item active">ข้อมูลแพคเกจของลูกค้า</li>
                    </ol>
                </div> -->
                <div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card-title">ตารางแสดงข้อมูลแพคเกจของลูกค้า </h4>
                                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                </div>
                                <div class="col-5">
                                    <input class="form-control" type="text" style="width: 100%;" [(ngModel)]="search_text_2">
                                </div>
                                <div class="col-1">
                                    <button (click)="search(2)"
                                    class="btn" style="height: auto;width: 70px;margin-top: -4px;">
                                        <i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                            
                            
                            <div class="table-responsive m-t-40">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>นามสกุล</th>
                                            <!-- <th>จังหวัด</th> -->
                                            <th>Package</th>
                                            <th>ราคา</th>
                                            <th>วันที่ชำระ</th>
                                            <th>วันหมดอายุ</th>
                                            <!-- <th>สถานะการขำระเงิน</th> -->
                                            <th>สถานะการใช้งาน</th>
                                            <th>จำนวนภาพที่ใช้ไป</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>นามสกุล</th>
                                            <!-- <th>จังหวัด</th> -->
                                            <th>Package Size</th>
                                            <th>ราคา</th>
                                            <th>วันที่ชำระ</th>
                                            <th>วันหมดอายุ</th>
                                            <!-- <th>สถานะการขำระเงิน</th> -->
                                            <th>สถานะการใช้งาน</th>
                                            <th>จำนวนภาพที่ใช้ไป</th>
                                        </tr>
                                    </tfoot>
                                    <tbody >
                                        <tr *ngFor="let item of list_customer_detail_show">
                                            <td>{{item.customer_name}}</td>
                                            <td>{{item.customer_last_name}}</td>
                                            <!-- <td>{{item.state}}</td> -->
                                            <td>{{item.name_item_en}} 
                                                <ng-container *ngIf="item.size_item;else else_free">Size {{item.size_item}}</ng-container>
                                                <ng-template #else_free>Free</ng-template>
                                            <td><ng-container *ngIf="item.size_item;else else_free_price">{{item.price}}</ng-container>
                                                <ng-template #else_free_price>-</ng-template></td>
                                            <td><ng-container *ngIf="item.size_item;else else_free_st">{{item.start_date}}</ng-container>
                                                <ng-template #else_free_st>-</ng-template></td>
                                            <td><ng-container *ngIf="item.size_item;else else_free_en">{{item.end_date}}</ng-container>
                                                <ng-template #else_free_en>-</ng-template></td>
                                            <!-- <td><span class="label label-success">{{item.receipt_status}}</span></td> -->
                                            <td>
                                                <ng-container *ngIf="item.withdraw_pic<=item.deposit_pic && (item.deposit_pic || item.withdraw_pic)
                                                    ;else else_status">
                                                    <span class="label label-success">ใช้งานได้</span></ng-container>
                                                <ng-template #else_status>
                                                    <span class="label label-danger">ใช้งานไม่ได้</span></ng-template>
                                            </td>
                                            <td>{{item.withdraw_pic}}/{{item.deposit_pic}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="display: flex; justify-content: space-between; width: 100%;">
                                    <div>
                                        <p>Showing 
                                            <ng-container *ngIf="list_customer_detail.length<base_page; else num_pages">{{list_customer_detail.length}}</ng-container> 
                                            <ng-template #num_pages>{{base_page}}</ng-template> 
                                            of {{list_customer_detail.length}} entries</p>
                                    </div>
                                    <div>
                                        <!-- pre -->
                                        <button (click)="next_page('detail','pre',base_page)" *ngIf="pages-base_page>0; else else_pre"
                                        type="button" class="btn btn-default light">previous</button>
                                        <ng-template #else_pre>
                                            <button disabled
                                            type="button" class="btn btn-default light">previous</button>
                                        </ng-template>
                                        <!-- next -->
                                        <button (click)="next_page('detail','next',base_page)" *ngIf="pages<list_customer_detail.length; else else_next"
                                        type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        <ng-template #else_next>
                                            <button disabled
                                            type="button" class="btn btn-default light ml-2 mr-1">next</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2022 Admin Dronebox by MAPEDIA </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <script src="assets/js/test.js"></script>
